/*css reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption,input{margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-family:inherit;  vertical-align:baseline;}
 
body{ font-family:Arial,"Microsoft YaHei"; font-size:12px;}
ol, ul{ list-style:none}
table{ border-collapse: collapse;}
caption, th, td{ font-weight:normal}
blockquote:before, blockquote:after,  q:before, q:after{ content:''}
blockquote, q{quotes:""""}
a,a:hover{color:#333;text-decoration:none;}
img{ border:0; display:block;}
cite,b,em,i{ font-style:normal;}

.cb{ clear:both; height:0; line-height:0; font-size:0;  }
.color_orange{ color:#dd5012;}



/* 边距*/
.m0{ margin:0;}
.mb20{ margin-bottom:20px;}
.mb40{ margin-bottom:40px;}
.ml20{ margin-left:20px;}

/* 文字颜色*/
.c3{ color:#333;}
.c6{ color:#666;}
.c9{ color:#999;}
.cf{ color:#fff;}


/* 鼠标类型*/
.cp{ cursor:pointer;}
.cm{ cursor:move;}

/* 背景颜色*/


/* 内容溢出*/
.of{ overflow:auto;}
.ofh{ overflow:hidden;}
.ofx{ overflow:auto; overflow-x:hidden;}
.ofy{ overflow:auto; overflow-y:hidden;}

.tr{ text-align: right;}

.fl{ float: left;}
.fr{ float: right;}
.clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0; line-height:0;}
.clearfix{ display:inline-block;}
*html .clearfix{ height:1%;}
.clearfix{ display:block;}
